<div class="jumbotron">
<h1 class="display-4">Welcome to the InfoWars Scraper!</h1>
<h3 class="lead">Where Crazy Meets Comedy!</h3>
</div>

<div id=Wrapper>
    <h2 class="text-center">Today's InfoWars Headlines</h2>
    <div id="articles"></div>
</div>

