<h1>Welcome to the InfoWars Scraper!</h1>
<h3>Where Crazy Meets Comedy!</h3>

<div id=Wrapper>
    <h2>Today's InfoWars Headlines</h2>
    <div id="articles"></div>
</div>
<script src="../../public/js/app.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>