<h1>Welcome to the InfoWars Scraper!</h1>
<h3>Where Crazy Meets Comedy!</h3>

<div id=Wrapper>
    <h2>Today's InfoWars Headlines</h2>
    <div id="articles"></div>
</div>

<button id="renderButton">Render Button</button>